
.grid-item {
    background-color: #ccffcc;
    border: 1px solid black;
    padding: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item:hover {
    background-color: #e3fce3;
    cursor: pointer;
}